{% for i in range(kong_requested_resource.count|int) %}
---
{{ resource_definition | combine(kong_labels, recursive=true) | combine(kong_metadata, recursive=true) | combine({'metadata': {'name': 'kong-'+i|string}}, recursive=true) | to_yaml }}
{% endfor %}