{% for i in range(range_start|int, range_end|int) %}
---
{{ resource_definition | combine(kong_metadata, recursive=true) | combine({'metadata': {'name': 'kong-'+i|string}}, recursive=true) | to_yaml }}
{% endfor %}